# ignore all .a files
*.a

# but do track lib.a, even though you're ignoreing .a files above
!lib.a

# only ignore the TODO files in the curren directory, not subdir/TODO
/TODO

#ignore all files in any directoy named build
build/

# ignore doc/notes.txt, but not doc/sever/arch.txt
doc/*.txt

# ignore all .pdf files in the doc/ directory and any of its subdirectories
doc/**/*.pdf
